In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:/Users/97455/Downloads/exercise_task/exercise_task/student_records.csv")

In [3]:
df

    S.No Gender  Score_Football_Question  Total_Examination_Score
0      1      M                        1                       80
1      2      M                        0                       90
2      3      M                        0                       60
3      4      M                        1                       65
4      5      F                        0                       80
5      6      F                        0                       55
6      7      F                        0                       70
7      8      F                        1                       90
8      9      F                        1                       92
9     10      F                        1                       65
10    11      F                        1                       70
11    12      M                        0                       75
12    13      F                        0                       80
13    14      F                        1                       85
14    15      F                        1                       90
15    16      M                        1                       95
16    17      M                        1                       40
17    18      M                        1                       50
18    19      F                        0                       60
19    20      M                        0                       70
20    21      M                        0                       80
21    22      M                        1                       90
22    23      F                        1                       55
23    24      F                        1                       60
24    25      F                        1                       65
25    26      F                        0                       70
26    27      F                        0                       75
27    28      M                        0                       80
28    29      M                        0                       85
29    30      M                        1                       90

In [6]:
df['Score_Football_Question'].value_counts()

1    16
0    14
Name: Score_Football_Question, dtype: int64

In [7]:
df['Gender'].value_counts()

F    16
M    14
Name: Gender, dtype: int64